@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hide-page{
  display: none;
}

.btn {
  @apply px-4 py-2 font-bold rounded bg-primary text-light;
}

.btn:hover{
  opacity: .8;
}

.input{
  @apply px-4 py-2 rounded-sm bg-light text-primary
}

.input:hover{
  opacity: .8;
}

input[type="file"] {
  display: none;
}