@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hide-page {
  display: none;
}

.input {
  @apply px-4 py-2 rounded-sm text-primary;
}

input[type="file"] {
  display: none;
}

.btn:disabled{
  cursor: not-allowed;
  opacity: .8;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #b8b8b8;
}

::-webkit-scrollbar-thumb {
  background-color: #352b00;
  border-radius: 5px;
}

.break-words {
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
}